@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="ID" value="${item.id}" underline="true"/>
                            <#input id="userId" name="用户ID" value="${item.userId}" underline="true"/>
                            <#input id="level" name="用户级别" value="${item.level}" underline="true"/>
                            <#input id="availBalance" name="可用积分" value="${item.availBalance}" />
                </div>

                <div class="col-sm-6">
                            <#input id="frozenBalance" name="冻结积分" value="${item.frozenBalance}" underline="true"/>
                            <#input id="addBalance" name="累计积分" value="${item.addBalance}" underline="true"/>
                            <#input id="createTime" name="创建时间" value="${item.createTime}" underline="true"/>
                            <#input id="updateTime" name="更新时间" value="${item.updateTime}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ScoreInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ScoreInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/score/score/score_info.js"></script>
@}
