@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="ID" value="${item.id}" underline="true"/>
                            <#input id="couponId" name="优惠券ID" value="${item.couponId}" underline="true"/>
                            <#input id="title" name="名称" value="${item.title}" underline="true"/>
                            <#input id="desc" name="描述" value="${item.desc}" underline="true"/>
                            <#input id="rules" name="用法规则" value="${item.rules}" />
                </div>

                <div class="col-sm-6">
                            <#input id="showImgUrl" name="展示图片" value="${item.showImgUrl}" underline="true"/>
                            <#input id="infoImgUrl" name="介绍图片" value="${item.infoImgUrl}" underline="true"/>
                            <#input id="createTime" name="创建时间" value="${item.createTime}" underline="true"/>
                            <#input id="updateTime" name="更新时间" value="${item.updateTime}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="CouponInfoInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="CouponInfoInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/coupon/couponInfo/couponInfo_info.js"></script>
@}
