@layout("/common/_container.html"){
<div class="row">
    <div class="col-sm-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>活动记录管理</h5>
            </div>
            <div class="ibox-content">
                <div class="row row-lg">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-2">
                                <#NameCon id="phone" name="手机号" />
                            </div>
                            <div class="col-sm-2">
                                <#NameCon id="act_name" name="活动名称" />
                            </div>
                            <div class="col-sm-3">
                                <#button name="搜索" icon="fa-search" clickFun="ActivityRecord.search()"/>
                            </div>
                        </div>
                        <div class="hidden-xs" id="ActivityRecordTableToolbar" role="group">
                            @if(shiro.hasPermission("/activityRecord/add")){
                                <#button name="添加" icon="fa-plus" clickFun="ActivityRecord.openAddActivityRecord()"/>
                            @}
                            @if(shiro.hasPermission("/activityRecord/update")){
                                <#button name="修改" icon="fa-edit" clickFun="ActivityRecord.openActivityRecordDetail()" space="true"/>
                            @}
                            @if(shiro.hasPermission("/activityRecord/delete")){
                                <#button name="删除" icon="fa-remove" clickFun="ActivityRecord.delete()" space="true"/>
                            @}
                        </div>
                        <#table id="ActivityRecordTable"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="${ctxPath}/static/modular/activity/activityRecord/activityRecord.js"></script>
@}
