@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="ID" underline="true"/>
                            <#input id="userId" name="用户ID" underline="true"/>
                            <#input id="walletNumber" name="会员卡编号" underline="true"/>
                            <#input id="availBalance" name="可用金额"/>
                </div>

                <div class="col-sm-6">
                            <#input id="frozenBalance" name="冻结金额" underline="true"/>
                            <#input id="createTime" name="创建时间" underline="true"/>
                            <#input id="updateTime" name="更新时间" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="WalletInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="WalletInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/wallet/wallet/wallet_info.js"></script>
@}
