@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="ID" value="${item.id}" underline="true"/>
                            <#input id="userId" name="用户ID" value="${item.userId}" underline="true"/>
                            <#input id="identityType" name="授权类型 0微信" value="${item.identityType}" underline="true"/>
                            <#input id="token" name="用户唯一标识" value="${item.token}" />
                </div>

                <div class="col-sm-6">
                            <#input id="auth" name="身份 0用户 1商户" value="${item.auth}" underline="true"/>
                            <#input id="createTime" name="创建时间" value="${item.createTime}" underline="true"/>
                            <#input id="updateTime" name="修改时间" value="${item.updateTime}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="UserAuthInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="UserAuthInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/users_auth/userAuth/userAuth_info.js"></script>
@}
