<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.ActivityInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.ActivityInfo">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="activity_id" property="activityId" />
        <result column="now_number" property="nowNumber" />
        <result column="state" property="state" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, activity_id, now_number, state, create_time, update_time
    </sql>

    <select id="selectLists" resultType="map">
        select
        ua.id, ua.user_id, ui.phone, ac.goods_name, ua.now_number, ua.state, ua.create_time, ua.update_time
        from activity_info ua left join user_info ui on ua.user_id = ui.user_id left join activity ac on ac.id=ua.activity_id
        where 1 = 1
        <if test="phone != null and phone != ''">
            and ui.phone like CONCAT('%',#{phone},'%')
        </if>
        <if test="act_name != null and act_name !=''">
            and ac.goods_name like CONCAT('%',#{act_name},'%')
        </if>
    </select>
</mapper>
