<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.CouponUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.CouponUser">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="coupon_id" property="couponId" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="state" property="state" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, coupon_id, start_time, end_time, state, create_time, update_time
    </sql>

    <select id="selectLists" resultType="map">
        select
        ua.id, ua.user_id, ui.phone, ua.coupon_id, ci.title, ua.start_time, ua.end_time, ua.state, ua.create_time, ua.update_time
        from coupon_user ua left join user_info ui on ua.user_id = ui.user_id left join coupon_info ci on ci.coupon_id=ua.coupon_id
        where 1 = 1
        <if test="phone != null and phone != ''">
            and ui.phone like CONCAT('%',#{phone},'%')
        </if>
        <if test="title != null and title != ''">
            and ci.title like CONCAT('%',#{title},'%')
        </if>
    </select>
</mapper>
