<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.ScoreFlowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.ScoreFlow">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="oper_type" property="operType" />
        <result column="oper_id" property="operId" />
        <result column="amount" property="amount" />
        <result column="result_amount" property="resultAmount" />
        <result column="end_time" property="endTime" />
        <result column="state" property="state" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, oper_type, oper_id, amount, result_amount, end_time, state, create_time, update_time
    </sql>

    <select id="selectLists" resultType="map">
        SELECT
        ui.id, ui.user_id, us.phone, ui.oper_type, ui.oper_id, ui.amount,ui.result_amount,ui.end_time,ui.state, ui.create_time, ui.update_time
        FROM score_flow ui left join user_info us on us.user_id=ui.user_id
        WHERE 1 = 1
        <if test="phone != null and phone != ''">
            AND phone LIKE CONCAT('%',#{phone},'%')
        </if>
    </select>
</mapper>
