<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.ScoreMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.Score">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="level" property="level" />
        <result column="avail_balance" property="availBalance" />
        <result column="frozen_balance" property="frozenBalance" />
        <result column="add_balance" property="addBalance" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, level, avail_balance, frozen_balance, add_balance, create_time, update_time
    </sql>

    <select id="selectLists" resultType="map">
        SELECT
        ui.id, ui.user_id, us.phone, ui.avail_balance, ui.frozen_balance, ui.add_balance, ul.name AS level_name, ul.discount, ui.create_time, ui.update_time
        FROM score ui LEFT JOIN user_level ul ON ui.level=ul.id left join user_info us on us.user_id=ui.user_id
        WHERE 1 = 1
        <if test="phone != null and phone != ''">
            AND phone LIKE CONCAT('%',#{phone},'%')
        </if>
    </select>
</mapper>
